.App {
  text-align: center;
}

.User {
  background-color: #ccb0c1;
  width: 60%;
  margin: 16px auto;
  border: 3px solid #5c083c;
  box-shadow: 0 5px 6px rgb(207, 154, 196);
  padding: 16px;
  text-align: center;
}